/VODsParser/bin/Debug/net8.0-windows/win-x64/av_libglesv2.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Base.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Controls.ColorPicker.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Controls.DataGrid.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Controls.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.DesignerSupport.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Desktop.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Diagnostics.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Dialogs.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.FreeDesktop.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Markup.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Markup.Xaml.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Metal.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.MicroCom.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Native.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.OpenGL.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.ReactiveUI.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Remote.Protocol.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Skia.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Themes.Fluent.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Themes.Simple.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Vulkan.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.Win32.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Avalonia.X11.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Blazored.LocalStorage.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/DynamicData.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/HarfBuzzSharp.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/libHarfBuzzSharp.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/libSkiaSharp.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/MicroCom.Runtime.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.AspNetCore.Authorization.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.AspNetCore.Components.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.AspNetCore.Components.Forms.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.AspNetCore.Components.Web.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.AspNetCore.Components.WebView.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.AspNetCore.Components.WebView.WindowsForms.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.AspNetCore.Metadata.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Configuration.Binder.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Configuration.FileExtensions.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Configuration.Json.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Configuration.UserSecrets.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.DependencyInjection.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Diagnostics.Abstractions.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Diagnostics.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.FileProviders.Embedded.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Hosting.Abstractions.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Hosting.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Logging.Abstractions.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Logging.Configuration.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Logging.Console.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Logging.Debug.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Logging.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Logging.EventLog.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Logging.EventSource.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Extensions.Options.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.JSInterop.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Web.WebView2.Core.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Web.WebView2.WinForms.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.Web.WebView2.Wpf.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.WindowsAPICodePack.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Microsoft.WindowsAPICodePack.Shell.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/ReactiveUI.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Serilog.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Serilog.Sinks.Async.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Serilog.Sinks.File.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/SkiaSharp.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Splat.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/System.Diagnostics.EventLog.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/System.Reactive.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/Tmds.DBus.Protocol.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/VODsParser.deps.json
/VODsParser/bin/Debug/net8.0-windows/win-x64/VODsParser.dll
/VODsParser/bin/Debug/net8.0-windows/win-x64/VODsParser.exe
/VODsParser/bin/Debug/net8.0-windows/win-x64/VODsParser.pdb
/VODsParser/bin/Debug/net8.0-windows/win-x64/VODsParser.runtimeconfig.json
/VODsParser/bin/Debug/net8.0-windows/win-x64/VODsParser.staticwebassets.runtime.json
/VODsParser/bin/Debug/net8.0-windows/win-x64/WebView2Loader.dll
